.container {
  margin-top: 4rem;
  color: white;
  padding: 2rem 3rem;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero h4 {
  font-size: 4rem;
  max-width: 50vw;
  font-family: var(--heading-font);
}

.hero p {
  max-width: 40vw;
  line-height: 1.5;
  font-family: var(--paragraph-heading);
}

.buttons > a .btn {
  padding: 0.8em 1em;
  border: none;
  min-width: 15vw;
  margin-top: 1rem;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--red);
  color: white;
  font-size: 1rem;
  font-family: system-ui;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.image {
  z-index: 1;
  width: 40vw;
  aspect-ratio: 1/0.9;
}

.image img {
  width: 100%;
}
