.nav {
  display: none;
}

.form {
  margin-top: 4rem;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.form h4 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--heading-font);
}

form {
  min-width: 30vw;
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form label {
  font-family: var(--special-font);
}

form input {
  padding: 15px 0;
  border-radius: 3px;
  border: none;
  outline: 2px solid grey;
  background-color: #212121;
  color: white;
  text-indent: 10px;
  font-size: 1rem;
  font-family: "Dancing Script", cursive;
  font-family: "Varela Round", sans-serif;
}

form input::placeholder {
  color: grey;
}

form .btn {
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: rgb(0, 141, 0);
  color: white;
  font-family: system-ui;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: 2px solid greenyellow;
}

.box p {
  font-family: var(--heading-font);
}

.box p a {
  color: orange;
}

.tops {
  top: 0;
}
