{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
Book Review | Home
{% endblock %}

{% block body %}
<div class="container">
  <div class="hero">
    <h4>Quickly and easily review thousands of books in a few steps</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae illum molestiae aliquam quaerat repellendus vero
      itaque, tempore vitae fugit minus, eum quidem. Dolorem aliquam, voluptatibus reiciendis alias deserunt ipsam
      error.</p>
    <div class="buttons">
      <a href="{{ url_for('all_books') }}">
        <button class="btn">Get Started</button>
      </a>
    </div>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='Images/review.png') }}" alt="online review">
  </div>
</div>
{% endblock %}