{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %}
Book Review | Login
{% endblock %}

{% block body %}
<div class="form">
  <h4>Confirm Identity</h4>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="input">
      {{ form.email_address.label }}
      {{ form.email_address(placeholder="Enter Email Address") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Enter Password") }}
    </div>
    <button class="btn" type="submit">sign in</button>
  </form>
  <div class="box">
    <p>Not yet registered <a href="{{ url_for('registration') }}">register here</a></p>
  </div>
</div>
{% endblock %}